body {
  margin: 0;
  padding: 0;
}


/************************** BACKGROUND CONTAINER *********************/
.background-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: -5;
}

.buildings-img {
  height: 100vh;
  margin-top: -18vh;
  position: fixed;
  z-index: -10;
}

.bottom-img {
  height: 20vh;
  margin-top: 80vh;
  position: fixed;
  z-index: -9;
}


/***************** HEADING CONTAINER ************************/

.heading-container {
  position: absolute;
  z-index: -1;
  font-family: 'Press Start 2P', cursive;
  line-height: 2;
  text-align: center;
  width: 100%;
  font-size: 10vh;
  color: yellow;
  text-shadow: 6px 6px orange;
}


/********************** PIPES CONTAINER ***********************/

.pipes-container {
  height: 80vh;
  position: fixed;
  z-index: -4;
  overflow: hidden;
  margin-left: 100%;
}

.pipe-img {
  height: 150vh;
  margin-right: 100px;
  display: inline-block;
  position: absolute;
}


/****************** BIRD IMAGE **************************/

.bird {
  height: 70px;
  margin-left: 300px;
}


/************** COLLISION CHECKER ********************/
.check {
  visibility: hidden;
}


/**************** SCORE CONTAINER *********************/

.score-container {
  height: 20vh;
  position:absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.score {
  font-family: 'Press Start 2P', cursive;
  margin-top: 10vh;
  text-align: center;
  font-size: 4vh;
}
